{% load django_bootstrap5 %}

<div class="list-group">
  {% for theorem in given_theorems %}
    {% if forloop.counter0 == 0 %}
      <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    {% else %}
      <a href="#" class="list-group-item list-group-item-action">
    {% endif %}
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{theorem.name}}</h5>
      <small>3 days ago</small>
    </div>
    {% include "cd_editor/diagram_view.html" %}
    <p class="mb-1">Some placeholder content in a paragraph.</p>
    <small>And some small print.</small>
  </a>  
  {% endfor %}
</div>

